/* OrderHistory.css */
/* OrderHistory.css */

.order-history-container {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
  }
  
  .order-history-title {
    color: #ffd700;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .order-card {
    background-color: #2d2d2d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .order-info {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .order-info p {
    margin-bottom: 10px;
  }
  
  .order-info p:last-child {
    margin-bottom: 0;
  }
  
  .order-info p:first-child {
    margin-top: 0;
  }
  
  .order-info p:before {
    content: attr(data-label);
    font-weight: bold;
  }
  
  .dismiss-button {
    margin-top: 10px;
  }
  
  .dismiss-button button {
    background-color: #ffd700;
    color: #1c1c1c;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .dismiss-button button:hover {
    background-color: #ffdf80;
  }
  